body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-image: url(../images/fightclub-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 930vh;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes float {
  0% {
    transform: translateX(-50%) translateY(0) rotate(-15deg);
  }

  50% {
    transform: translateX(-50%) translateY(-10px) rotate(-5deg);
  }

  100% {
    transform: translateX(-50%) translateY(0) rotate(-15deg);
  }
}

#blikje-enorm {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 600px;
  height: 600px;
  background-image: url("../images/blikje_enorm.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  cursor: pointer;
}

#blikje-enorm.fade-in {
  display: block;
  animation: fadeInUp 1s ease-out, float 1.5s ease-in-out infinite;
}

#blikje-enorm.show {
  animation: float 1.5s ease-in-out infinite;
}

#enorm-trigger {
  position: absolute;
  top: 6744px;
  left: 660px;
  width: 60px;
  height: 20px;
  cursor: pointer;
  background-color: red;
  z-index: 1000;
}

.blikje {
  position: fixed;
  width: 50px;
  height: 50px;
  background-image: url("../images/blikje_enorm.png");
  background-size: cover;
  background-repeat: no-repeat;
  top: -100px;
  z-index: 100;
}

#logo-container {
  position: absolute;
  top: 36px;
  left: 28px;
  width: 120px;
  height: auto;
  cursor: pointer;
}

#logo-met-hond,
#logo-zonder-hond {
  width: 100%;
  height: auto;
}

#hond {
  position: absolute;
  top: 70px;
  left: 59px;
  width: 58px;
  height: auto;
  display: block;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.hond-animatie {
  transform: scale(2.5) translateX(125px) translateY(155px);
}

#spel-hond {
  position: absolute;
  width: 170px; /* Breedte van de spelhond */
  height: 108px; /* Hoogte van de spelhond */
  background-image: url("../images/spel_hond.png"); /* Zorg ervoor dat je de juiste afbeelding gebruikt */
  background-size: cover;
  background-repeat: no-repeat;
  top: 395px; /* Startpositie van de spelhond */
  left: 299px; /* Horizontale startpositie van de spelhond */
  z-index: 110; /* Zorg ervoor dat de spelhond boven andere elementen staat */
}
