body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-image: url(../images/fightclub-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 930vh;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes float {
  0% {
    transform: translateX(-50%) translateY(0) rotate(-15deg);
  }

  50% {
    transform: translateX(-50%) translateY(-10px) rotate(-5deg);
  }

  100% {
    transform: translateX(-50%) translateY(0) rotate(-15deg);
  }
}

#blikje-enorm {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 600px;
  height: 600px;
  background-image: url("../images/blikje_enorm.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  cursor: pointer;
}

#blikje-enorm.fade-in {
  display: block;
  animation: fadeInUp 1s ease-out, float 1.5s ease-in-out infinite;
}

#blikje-enorm.show {
  animation: float 1.5s ease-in-out infinite;
}

#enorm-trigger {
  position: absolute;
  top: 8507px;
  left: 840px;
  width: 60px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}

.blikje {
  position: fixed;
  width: 50px;
  height: 50px;
  background-image: url("../images/blikje_enorm.png");
  background-size: cover;
  background-repeat: no-repeat;
  top: -100px;
  z-index: 100;
}
