body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-image: url(../images/fightclub-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 930vh;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes float {
  0% {
    transform: translateX(-50%) translateY(0) rotate(-15deg);
  }

  50% {
    transform: translateX(-50%) translateY(-10px) rotate(-5deg);
  }

  100% {
    transform: translateX(-50%) translateY(0) rotate(-15deg);
  }
}

#blikje-enorm {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 600px;
  height: 600px;
  background-image: url("../images/blikje_enorm.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  cursor: pointer;
}

#blikje-enorm.fade-in {
  display: block;
  animation: fadeInUp 1s ease-out, float 1.5s ease-in-out infinite;
}

#blikje-enorm.show {
  animation: float 1.5s ease-in-out infinite;
}

#enorm-trigger {
  position: absolute;
  top: 7535px; /* Pas deze waarde aan om het woord "enorm" te bedekken */
  left: 740px; /* Pas deze waarde aan om het woord "enorm" te bedekken */
  width: 60px; /* Breedte van de klikbare zone */
  height: 20px; /* Hoogte van de klikbare zone */
  cursor: pointer;
  /* Semi-transparante achtergrond voor debugging (verwijder later) */
  z-index: 1000; /* Zorg ervoor dat de klikbare zone boven alles staat */
}

.blikje {
  position: fixed;
  width: 50px;
  height: 50px;
  background-image: url("../images/blikje_enorm.png"); /* Zorg ervoor dat je de juiste afbeelding gebruikt */
  background-size: cover;
  background-repeat: no-repeat;
  top: -100px; /* Startpositie boven het scherm */
  z-index: 100; /* Zorg ervoor dat de blikjes zichtbaar zijn */
}
