body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

html {
  overflow: hidden;
}

#logo-container {
  position: relative;
  width: 400px;
  height: auto;
  cursor: pointer;
}

#logo-met-hond img,
#logo-zonder-hond img {
  width: 100%;
  height: auto;
  z-index: 100;
}

#hond {
  top: 40px;
  left: 38px;
  position: absolute;
  width: 68px;
  height: auto;
  display: none;
  z-index: 100;
  transition: all 1s ease-in-out;
}

#score {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.hond-animatie {
  transform: scale(2.5) translateX(125px) translateY(155px);
}

#spel-hond {
  position: absolute;
  width: 170px; /* Breedte van de spelhond */
  height: 108px; /* Hoogte van de spelhond */
  background-image: url("../images/spel_hond.png"); /* Zorg ervoor dat je de juiste afbeelding gebruikt */
  background-size: cover;
  background-repeat: no-repeat;
  top: 395px; /* Startpositie van de spelhond */
  left: 299px; /* Horizontale startpositie van de spelhond */
  z-index: 110; /* Zorg ervoor dat de spelhond boven andere elementen staat */
}

#blik {
  position: absolute;
  background-image: url("../images/Blikjehitbox.png"); /* Zorg voor een afbeelding van een blik */
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  right: -50px; /* Start net buiten het scherm */
  animation: moveLeft 5s linear forwards; /* Laat de blikken bewegen */
}

@keyframes moveLeft {
  from {
    right: -50px; /* Start net buiten het scherm */
  }
  to {
    right: 100%; /* Beweeg volledig naar links */
  }
}
